{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-12 col-sm-10 recuadro">

<form method="post" id="movimiento_form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <div class="row"> <!-- cabecera-->
            <div class="col-10">
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        {% if movimiento %}
                            <span class="h4">Movimiento #{{ movimiento.pk }}</span>
                        {% else %}
                            <span class="h4">Nuevo Movimiento</span>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <ul class="list-inline">
                            {% if movimiento %}
                                <li class="list-inline-item">Funcionario: {{ movimiento.funcionario }}</li>
                            {% else %}
                                <li class="list-inline-item">Funcionario: {{ funcionario }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
            {% if movimiento %}
                <ul class="list-inline">
                    {% if perms.liquidacion.change_movimiento %}
                    <li class="list-inline-item">
                        <button type="submit" class="btn btn-secondary btn-lg active" name="guardar"
                        formaction="{% url 'liquidacion:editar_movimiento' movimiento.pk %}">
                            Guardar
                        </button>
                    </li>
                    {% endif %}
                    <li class="list-inline-item">
                        <button type="button" class="btn btn-secondary fa fa-arrow-right" title="Volver a la propuesta"
                            onclick="location.href='{% url 'liquidacion:nueva_constante' movimiento.pk %}'">Siguiente</button>
                    </li>
                </ul>
            {% else %}
                <div class="row separador"></div>
                {% if not movimiento_padre %}
                    <button type="submit" class="btn btn-primary btn-sm active" name="guardar"
                            formaction="{% url 'liquidacion:nuevo_movimiento' funcionario.pk %}" aria-pressed="true">
                        Guardar
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-primary btn-sm active" name="guardar"
                            formaction="{% url 'liquidacion:modificar_movimiento' movimiento_padre.pk %}" aria-pressed="true">
                        Guardar
                    </button>
                {% endif %}
            {% endif %}
            </div>
        </div>
    <!-- Fin cabecera -->

    <!-- Primera Fila -->
    <hr>
    <div class="row">
            <div class="col-lg-10">
            {% if not movimiento_padre %}
                {% if movimiento %}
                    {% if not perms.liquidacion.change_movimiento %}
                        <input type="text" id="esPrimero" class="form-control"
                           value="{{ movimiento.esPrimero }}" disabled/>
                        <input type="hidden" name="esPrimero" value="{{ movimiento.esPrimero }}">
                    {% else %}
                       <div class="custom-control custom-checkbox mr-sm-2">
                        {% if movimiento.esPrimero is True %}
                            <input type="checkbox" class="custom-control-input" id="esPrimero" name="esPrimero" checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="esPrimero" name="esPrimero">
                        {% endif %}
                            <label class="custom-control-label" for="esPrimero">Es primero</label>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="esPrimero" name="esPrimero">
                        <label class="custom-control-label" for="esPrimero">Es primero</label>
                    </div>
                {% endif %}
            {% endif %}
    </div>
        </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="categoria_salarial">Categoria Salarial:</label>
                <div class="input-group">
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="categoria_salarial" class="form-control"
                               value="{{ movimiento.categoria_salarial }}" disabled/>
                            <input type="hidden" name="categoria_salarial" value="{{ movimiento.categoria_salarial }}">
                        {% else %}
                           {{ form.categoria_salarial }}
                        {% endif %}
                    {% else %}
                        {{ form.categoria_salarial }}
                        <span class="input-group-btn">
                        <a onclick="window.open('{% url 'admin:liquidacion_categoriasalarial_add' %}')">
                            <button class="btn btn-secondary" type="button">+</button></a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="og">Objeto de Gasto:</label>
                    <div class="input-group">
                        {% if movimiento %}
                            {% if not perms.liquidacion.change_movimiento %}
                                <input type="text" id="og" class="form-control"
                                   value="{{ movimiento.og }}" disabled/>
                                <input type="hidden" name="og" value="{{ movimiento.og }}">
                            {% else %}
                               {{ form.og }}
                            {% endif %}
                        {% else %}
                            {{ form.og }}
                            <span class="input-group-btn">
                                <a onclick="window.open('{% url 'admin:liquidacion_objeto_de_gasto_add' %}')">
                                    <button class="btn btn-secondary" type="button">+</button></a>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tipo">Tipo de Movimiento:</label>
                <div class="input-group">
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="tipo" class="form-control"
                               value="{{ movimiento.tipo }}" disabled/>
                            <input type="hidden" name="tipo" value="{{ movimiento.tipo }}">
                        {% else %}
                           {{ form.tipo }}
                        {% endif %}
                    {% else %}
                        {{ form.tipo }}
                        <span class="input-group-btn">
                            <a onclick="window.open('{% url 'admin:liquidacion_movimientotype_add' %}')">
                                <button class="btn btn-secondary" type="button">+</button></a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="motivo">Motivo del Movimiento:</label>
                <div class="input-group">
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="motivo" class="form-control"
                               value="{{ movimiento.motivo }}" disabled/>
                            <input type="hidden" name="motivo" value="{{ movimiento.motivo }}">
                        {% else %}
                           {{ form.motivo }}
                        {% endif %}
                    {% else %}
                        {{ form.motivo }}
                        <span class="input-group-btn">
                            <a onclick="window.open('{% url 'admin:liquidacion_movimientomotivo_add' %}')">
                                <button class="btn btn-secondary" type="button">+</button></a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="division">Dependencia:</label>
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="division" class="form-control"
                               value="{{ movimiento.division }}" disabled/>
                            <input type="hidden" name="division" value="{{ movimiento.division }}">
                        {% else %}
                           {{ form.division }}
                        {% endif %}
                    {% else %}
                        {{ form.division }}
                        <span class="input-group-btn">
                            <a onclick="window.open('{% url 'admin:liquidacion_division_add' %}')">
                                <button class="btn btn-secondary" type="button">+</button></a>
                        </span>
                    {% endif %}
            </div>
        </div>
      </div>
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="id_fechainicio">Fecha de Inicio:</label>
                    {{ form.fechainicio.errors }}
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="date" id="id_fechainicio" name="fechainicio">
                        {% else %}
                            {{ form.fechainicio }}
                        {% endif %}
                    {% else %}
                        {{ form.fechainicio }}
                    {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="id_fechafin">Fecha de Fin:</label>
                    {{ form.fechafin.errors }}
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="date" id="id_fechafin" name="fechafin" value="{{ movimiento.fechafin }}">
                        {% else %}
                            <input type="date" id="id_fechafin" name="fechafin" value="{{ movimiento.fechafin }}">
                        {% endif %}
                    {% else %}
                        {{ form.fechafin }}
                    {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="horaEntrada">Hora de Entrada:</label>
                {% if form.horaEntrada.errors %}
                    <ol>
                    {% for error in form.horaEntrada.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="horaEntrada" class="form-control"
                               value="{{ movimiento.horaEntrada }}" disabled/>
                            <input type="hidden" name="horaEntrada" value="{{ movimiento.horaEntrada }}">
                        {% else %}
                           {{ form.horaEntrada }}
                        {% endif %}
                    {% else %}
                        {{ form.horaEntrada }}
                    {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="horaSalida">Hora de Salida:</label>
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="horaSalida" class="form-control"
                               value="{{ movimiento.horaSalida }}" disabled/>
                            <input type="hidden" name="horaSalida" value="{{ movimiento.horaSalida }}">
                        {% else %}
                           {{ form.horaSalida }}
                        {% endif %}
                    {% else %}
                        {{ form.horaSalida }}
                    {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tieneAguinaldo">Tiene Aguinaldo:</label>
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="tieneAguinaldo" class="form-control"
                               value="{{ movimiento.tieneAguinaldo }}" disabled/>
                            <input type="hidden" name="tieneAguinaldo" value="{{ movimiento.tieneAguinaldo }}">
                        {% else %}
                           <div class="custom-control custom-checkbox mr-sm-2">
                            {% if movimiento.tieneAguinaldo is True %}
                                <input type="checkbox" class="custom-control-input" id="tieneAguinaldo" name="tieneAguinaldo" checked>
                            {% else %}
                                <input type="checkbox" class="custom-control-input" id="tieneAguinaldo" name="tieneAguinaldo">
                            {% endif %}
                           <label class="custom-control-label" for="tieneAguinaldo"></label>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="tieneAguinaldo" name="tieneAguinaldo">
                            <label class="custom-control-label" for="tieneAguinaldo"></label>
                        </div>
                    {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tieneVacaciones">Tiene Vacaciones:</label>
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="tieneVacaciones" class="form-control"
                               value="{{ movimiento.tieneVacaciones }}" disabled/>
                            <input type="hidden" name="tieneVacaciones" value="{{ movimiento.tieneVacaciones }}">
                        {% else %}
                           <div class="custom-control custom-checkbox mr-sm-2">
                            {% if movimiento.tieneVacaciones is True %}
                                <input type="checkbox" class="custom-control-input" id="tieneVacaciones" name="tieneVacaciones" checked>
                            {% else %}
                                <input type="checkbox" class="custom-control-input" id="tieneVacaciones" name="tieneVacaciones">
                            {% endif %}
                           <label class="custom-control-label" for="tieneVacaciones"></label>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="tieneVacaciones" name="tieneVacaciones">
                            <label class="custom-control-label" for="tieneVacaciones"></label>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>


    </form>
    <hr>

{% if movimiento %}
    <div class="row">
        <div class="col-lg-6">
            <a onclick="return abrir_modal('{% url 'liquidacion:nuevo_documento' movimiento.pk %}')" class="btn btn-primary">
                Agregar Documento Respaldatorio
            </a>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <table id="tabla_documentos" class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Documento Nro.</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for documento in documentos %}
                    <tr class='clickable-row'>
                        <td>{{ documento.codigo }}</td>
                        <td class="text-center">
                            <a href="#">
                              <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <button class="btn btn-outline-primary btn-edit" type="button"
                                onclick="return abrir_modal('{% url 'liquidacion:ver_documento' documento.movimiento.pk documento.pk %}')">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endif %}
<div id="popup" class="modal fade" role="dialog">

</div>

<script>
function abrir_modal(url)
{
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
}

$(document).ready(function()
{

});
</script>

</div>

{% endblock %}