{% extends "proceso/filtro_funcionarios_movimiento.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load l10n %}

{% block extrastyles %}
    <link href="{% static "css/chung-timepicker.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if movimiento %}
        {% breadcrumb " Modificacion de Movimiento " 'liquidacion:editar_movimiento' movimiento.pk %}
    {% else %}
        {% breadcrumb " Nuevo Movimiento " 'liquidacion:nuevo_movimiento' %}
    {% endif %}

{% endblock %}

{% block content %}
{% render_breadcrumbs %}

<div class="col-12 col-sm-10 recuadro">

<form method="post" id="movimiento_form">
        {% csrf_token %}
        {{ form.media }}
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <div class="row"> <!-- cabecera-->
            <div class="col-10">
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        {% if movimiento %}
                            <span class="h4">Movimiento #{{ movimiento.pk }}</span>
                        {% else %}
                            <span class="h4">Nuevo Movimiento</span>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <ul class="list-inline">
                            {% if movimiento %}
                                <li class="list-inline-item">Funcionario: {{ movimiento.funcionario }}</li>
                            {% else %}
                                <li class="list-inline-item">Funcionario: {{ funcionario }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
            {% if movimiento %}
                <ul class="list-inline">
                    {% if perms.liquidacion.change_movimiento %}
                    <li class="list-inline-item">
                        <button type="submit" class="btn btn-secondary btn-lg active" name="guardar"
                        formaction="{% url 'liquidacion:editar_movimiento' movimiento.pk %}">
                            Guardar
                        </button>
                    </li>
                    {% endif %}
                    <li class="list-inline-item">
                        <button type="button" class="btn btn-secondary fa fa-arrow-right" title="Volver a la propuesta"
                            onclick="location.href='{% url 'liquidacion:nueva_constante' movimiento.pk %}'">Siguiente</button>
                    </li>
                </ul>
            {% else %}
                <div class="row separador"></div>
                {% if not movimiento_padre %}
                    <button type="submit" class="btn btn-primary btn-sm active" name="guardar"
                            formaction="{% url 'liquidacion:nuevo_movimiento' funcionario.pk %}" aria-pressed="true">
                        Guardar
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-primary btn-sm active" name="guardar"
                            formaction="{% url 'liquidacion:modificar_movimiento' movimiento_padre.pk %}" aria-pressed="true">
                        Guardar
                    </button>
                {% endif %}
            {% endif %}
            </div>
        </div>
    <!-- Fin cabecera -->

    <!-- Primera Fila -->
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="categoria_salarial">Categoria Salarial:</label>
                    <div class="input-group">
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="categoria_salarial" class="form-control"
                               value="{{ movimiento.categoria_salarial }}" disabled/>
                            <input type="hidden" name="categoria_salarial" value="{{ movimiento.categoria_salarial }}">
                        {% else %}
                            <input type="hidden" name="categoria_salarial" id="id_categoria_salarial" value="{{ movimiento.categoria_salarial.pk }}">
                            <input id="categoria_salarial" class="form-control" value="{{ movimiento.categoria_salarial }}" readonly>
                        {% endif %}
                    {% else %}
                        <input type="hidden" name="categoria_salarial" id="id_categoria_salarial">
                        <input id="categoria_salarial" class="form-control" readonly>
                    {% endif %}
                        <span class="input-group-btn">
                        <a>
                            <button id="btnCategoria" class="btn btn-secondary" type="button">
                                <i class="fa fa-search" aria-hidden="true"></i></button>
                        </a>
                        </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="og">Objeto de Gasto:</label>
                    <div class="input-group">
                        {% if movimiento %}
                            {% if not perms.liquidacion.change_movimiento %}
                                <input type="text" id="og" class="form-control"
                                   value="{{ movimiento.og }}" disabled/>
                                <input type="hidden" name="og" value="{{ movimiento.og }}">
                            {% else %}
                               {{ form.og }}
                            {% endif %}
                        {% else %}
                            {{ form.og }}
                            <span class="input-group-btn">
                            <a id="btnog" data-toggle="modal" data-target="#og_modal">
                                <button class="btn btn-secondary" type="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button></a>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tipo">Tipo de Movimiento:</label>
                <div class="input-group">
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="tipo" class="form-control"
                               value="{{ movimiento.tipo }}" disabled/>
                            <input type="hidden" name="tipo" value="{{ movimiento.tipo }}">
                        {% else %}
                           {{ form.tipo }}
                        {% endif %}
                    {% else %}
                        {{ form.tipo }}
                        <span class="input-group-btn">
                            <a id="btntipomov" data-toggle="modal" data-target="#tipomov_modal">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button></a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="motivo">Motivo del Movimiento:</label>
                <div class="input-group">
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="motivo" class="form-control"
                               value="{{ movimiento.motivo }}" disabled/>
                            <input type="hidden" name="motivo" value="{{ movimiento.motivo }}">
                        {% else %}
                           {{ form.motivo }}
                        {% endif %}
                    {% else %}
                        {{ form.motivo }}
                        <span class="input-group-btn">
                            <a id="btnmotmov" data-toggle="modal" data-target="#motivomov_modal">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button></a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="division">Dependencia:</label>
                 <div class="input-group">
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="division" class="form-control"
                               value="{{ movimiento.division }}" disabled/>
                            <input type="hidden" name="division" value="{{ movimiento.division }}">
                        {% else %}
                           {{ form.division }}
                        {% endif %}
                    {% else %}
                        {{ form.division }}
                        <span class="input-group-btn">
                            <a onclick="window.open('{% url 'admin:liquidacion_division_add' %}')">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-plus"></i></button></a>
                        </span>
                    {% endif %}
                 </div>
            </div>

        </div>
      </div>
    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="funcion">Funcion:</label>
                 <div class="input-group">
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="funcion" class="form-control"
                               value="{{ movimiento.funcion }}" disabled/>
                            <input type="hidden" name="funcion" value="{{ movimiento.funcion }}">
                        {% else %}
                           {{ form.funcion }}
                        {% endif %}
                    {% else %}
                        {{ form.funcion }}
                    {% endif %}
                 </div>
            </div>

        </div>
      </div>
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="id_fechainicio">Fecha de Inicio:</label>
                <div class="input-group">
                    {% if form.fechainicio.errors %}
                    <ol>
                    {% for error in form.fechainicio.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                    {% endif %}
                    {% if movimiento %}
                        <input type="date" id="id_fechainicio" name="fechainicio" class="form-control"
                                   value="{{ movimiento.fechainicio|unlocalize }}" placeholder="{{ movimiento.fechainicio|unlocalize }}"
                           {% if not perms.liquidacion.change_movimiento %}
                               disabled
                           {% endif %}
                        />
                    {% else %}
                        <input type="date" id="id_fechainicio" name="fechainicio" class="form-control">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="id_fechafin">Fecha de Fin:</label>
                    {% if form.fechafin.errors %}
                    <ol>
                    {% for error in form.fechafin.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                    {% endif %}
                    {% if movimiento %}
                        <input type="date" id="id_fechafin" name="fechafin" class="form-control"
                                   value="{{ movimiento.fechafin|unlocalize }}" placeholder="{{ movimiento.fechafin|unlocalize }}"
                           {% if not perms.liquidacion.change_movimiento %}
                               disabled
                           {% endif %}
                        />
                    {% else %}
                        <input type="date" id="id_fechafin" name="fechafin" class="form-control">
                    {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="horaEntrada">Hora de Entrada:</label>
                <div class="input-group">
                    {% if form.horaEntrada.errors %}
                        <ol>
                        {% for error in form.horaEntrada.errors %}
                            <li><strong style="color: red">{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="id_horaEntrada" name="horaEntrada"
                                  value="{{ movimiento.horaEntrada }}" disabled/>
                        {% else %}
                           {{ form.horaEntrada }}
                        {% endif %}
                    {% else %}
                        {{ form.horaEntrada }}
                    {% endif %}
                </div>
                </div>
            </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="horaSalida">Hora de Salida:</label>
                    <div class="input-group">
                     {% if form.horaSalida.errors %}
                        <ol>
                        {% for error in form.horaSalida.errors %}
                            <li><strong style="color: red">{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="horaSalida" class="form-control"
                               value="{{ movimiento.horaSalida }}" disabled/>
                            <input type="hidden" name="horaSalida" value="{{ movimiento.horaSalida }}">
                        {% else %}
                            {{ form.horaSalida }}
                        {% endif %}
                    {% else %}
                        {{ form.horaSalida }}
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>

<div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tieneAguinaldo">Tiene Aguinaldo:</label>
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="tieneAguinaldo" class="form-control"
                               value="{{ movimiento.tieneAguinaldo }}" disabled/>
                            <input type="hidden" name="tieneAguinaldo" value="{{ movimiento.tieneAguinaldo }}">
                        {% else %}
                           <div class="custom-control custom-checkbox mr-sm-2">
                            {% if movimiento.tieneAguinaldo is True %}
                                <input type="checkbox" class="custom-control-input" id="tieneAguinaldo" name="tieneAguinaldo" checked>
                            {% else %}
                                <input type="checkbox" class="custom-control-input" id="tieneAguinaldo" name="tieneAguinaldo">
                            {% endif %}
                           <label class="custom-control-label" for="tieneAguinaldo"></label>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="tieneAguinaldo" name="tieneAguinaldo">
                            <label class="custom-control-label" for="tieneAguinaldo"></label>
                        </div>
                    {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tieneVacaciones">Tiene Vacaciones:</label>
                    {% if movimiento %}
                        {% if not perms.liquidacion.change_movimiento %}
                            <input type="text" id="tieneVacaciones" class="form-control"
                               value="{{ movimiento.tieneVacaciones }}" disabled/>
                            <input type="hidden" name="tieneVacaciones" value="{{ movimiento.tieneVacaciones }}">
                        {% else %}
                           <div class="custom-control custom-checkbox mr-sm-2">
                            {% if movimiento.tieneVacaciones is True %}
                                <input type="checkbox" class="custom-control-input" id="tieneVacaciones" name="tieneVacaciones" checked>
                            {% else %}
                                <input type="checkbox" class="custom-control-input" id="tieneVacaciones" name="tieneVacaciones">
                            {% endif %}
                           <label class="custom-control-label" for="tieneVacaciones"></label>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="tieneVacaciones" name="tieneVacaciones">
                            <label class="custom-control-label" for="tieneVacaciones"></label>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>

    </form>
    <hr>

{% if movimiento %}
    <div class="row">
        <div class="col-lg-6">
            <a onclick="return abrir_modal('{% url 'liquidacion:nuevo_documento' movimiento.pk %}')" class="btn btn-primary">
                Agregar Documento Respaldatorio
            </a>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <table id="tabla_documentos" class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Documento Nro.</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for documento in documentos %}
                    <tr class='clickable-row'>
                        <td>{{ documento.codigo }}</td>
                        <td class="text-center">
                            <a href="#">
                              <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <button class="btn btn-outline-primary btn-edit" type="button"
                                onclick="return abrir_modal('{% url 'liquidacion:ver_documento' documento.movimiento.pk documento.pk %}')">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endif %}
<div id="popup" class="modal fade" role="dialog"></div>

<div id="og_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #b9bbbe">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Nuevo Objeto de Gasto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="formulariomodal">

            </div>
        </div>
    </div>
</div>

<div id="tipomov_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #b9bbbe">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Nuevo Tipo de Movimiento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="formulariomodal">

            </div>
        </div>
    </div>
</div>

<div id="motivomov_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #b9bbbe">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Nuevo Motivo de Movimiento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="formulariomodal">

            </div>
        </div>
    </div>
</div>


<footer>

    <script>
        $('#og_modal').on('hidden.bs.modal', function () {
            var og_select = $('#id_og');
            $.ajax({
                url: '{% url 'liquidacion:traer_og' %}',
                dataType: 'json',
                success: function (data) {
                    if ($.trim(data)) {
                        og_select.empty().append('<option value=' + 0 + ' selected>' + 'Seleccione una opcion' + '</option>');
                        $.each(data, function (key, value) {
                            og_select.append('<option value=' + value.id + '>' + value.value + ' - ' + value.value2 + '</option>')
                        });
                    } else {
                        og_select.empty().append('<option value=' + 0 + ' selected>' + 'Todos' + '</option>');
                    }
                },
                error: function (data) {
                    og_select.empty().append('<option value=' + 0 + ' selected>' + 'Todos' + '</option>');
                }
            });
        });

        $('#tipomov_modal').on('hidden.bs.modal', function () {
            var tipo_select = $('#id_tipo');
            $.ajax({
                url: '{% url 'liquidacion:traer_tipomovimientos' %}',
                dataType: 'json',
                success: function (data) {
                    if ($.trim(data)) {
                        tipo_select.empty().append('<option value=' + 0 + ' selected>' + 'Seleccione una opcion' + '</option>');
                        $.each(data, function (key, value) {
                            tipo_select.append('<option value=' + value.id + '>' + value.value + '</option>')
                        });
                    } else {
                        tipo_select.empty().append('<option value=' + 0 + ' selected>' + 'Todos' + '</option>');
                    }
                },
                error: function (data) {
                    tipo_select.empty().append('<option value=' + 0 + ' selected>' + 'Todos' + '</option>');
                }
            });
        });

        $('#motivomov_modal').on('hidden.bs.modal', function () {
            var motivo_select = $('#id_motivo');
            $.ajax({
                url: '{% url 'liquidacion:traer_motivomovimientos' %}',
                dataType: 'json',
                success: function (data) {
                    if ($.trim(data)) {
                        motivo_select.empty().append('<option value=' + 0 + ' selected>' + 'Seleccione una opcion' + '</option>');
                        $.each(data, function (key, value) {
                            motivo_select.append('<option value=' + value.id + '>' + value.value + '</option>')
                        });
                    } else {
                        motivo_select.empty().append('<option value=' + 0 + ' selected>' + 'Todos' + '</option>');
                    }
                },
                error: function (data) {
                    motivo_select.empty().append('<option value=' + 0 + ' selected>' + 'Todos' + '</option>');
                }
            });
        });

        $('#btnmotmov').on('click', function () {
            $.ajax({
                type: 'GET',
                url: "{% url 'liquidacion:movimientomotivo-add' %}",
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    $('#motivomov_modal').find('.formulariomodal').html(data);
                    $('#motivomov_modal').modal('show');
                }
            });
        });

        $('#btnog').on('click', function () {
            $.ajax({
                type: 'GET',
                url: "{% url 'liquidacion:objetodegasto-add' %}",
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    $('#og_modal').find('.formulariomodal').html(data);
                    $('#og_modal').modal('show');
                }
            });
        });

        $('#btntipomov').on('click', function () {
            $.ajax({
                type: 'GET',
                url: "{% url 'liquidacion:tipomovimiento-add' %}",
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    $('#tipomov_modal').find('.formulariomodal').html(data);
                    $('#tipomov_modal').modal('show');
                }
            });
        });

        $('#btnCategoria').click(function(e) {
            $.ajax({
                type: 'GET',
                url: '{% url 'liquidacion:categoriasalarial-list' %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    $("#popup").html(data);
                    $("#popup").modal('show');
                    $("tr").click(function () {
                        var rowItems = $(this).children('td').map(function () {
                            return this.innerHTML;
                        }).toArray();
                        var value = rowItems[3];
                        var placeholder = rowItems[0] + " - "+ rowItems[1];
                        $('input').html(value);
                        $("#popup").modal('hide');
                        $('#id_categoria_salarial').val(value);
                        $('#categoria_salarial').val(placeholder);
                    });
                },
                error: function (data) {
                    console.log(data);
                }
            });
        })
    </script>

    <script src="{% static "js/chung-timepicker.js" %}"></script>
    <script>
        $('#id_horaEntrada').chungTimePicker({
            viewType: 1
        });
    </script>
    <script>
        $('#id_horaSalida').chungTimePicker({
            viewType: 1
        });
    </script>

    <script>
    function abrir_modal(url)
    {
        $('#popup').load(url, function()
        {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal()
    {
        $('#popup').modal('hide');
        return false;
    }

    </script>
</footer>


</div>

{% endblock %}