{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-12 col-sm-10 recuadro">



  <h1>Registration</h1>

  <form action="/">
      <hr>
    <div class="accounttype">
      <input type="radio" value="None" id="radioOne" name="account" checked/>
      <label for="radioOne" class="radio" checked>Personal</label>
      <input type="radio" value="None" id="radioTwo" name="account" />
      <label for="radioTwo" class="radio">Company</label>
    </div>
  <hr>

    <div class="row">
        <div class="col-lg-4">
            <label id="icon" for="name"><i class="icon-envelope "></i></label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Email" required/>
        </div>
        <div class="col-lg-4">
            <label id="icon" for="name"><i class="icon-user"></i></label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Name" required/>
        </div>
        <div class="col-lg-4">
            <label id="icon" for="name"><i class="icon-shield"></i></label>
            <input class="form-control" type="password" name="name" id="name" placeholder="Password" required/>
        </div>
    </div>

      <div class="row">
        <div class="col-lg-4">
            <label id="icon" for="name"><i class="icon-envelope "></i></label>
            <input type="text" name="name" id="name" placeholder="Email" required/>
        </div>
        <div class="col-lg-4">
            <label id="icon" for="name"><i class="icon-user"></i></label>
            <input type="text" name="name" id="name" placeholder="Name" required/>
        </div>
        <div class="col-lg-4">
            <label id="icon" for="name"><i class="icon-shield"></i></label>
            <input type="password" name="name" id="name" placeholder="Password" required/>
        </div>
    </div>
  <div class="gender">
    <input type="radio" value="None" id="male" name="gender" checked/>
    <label for="male" class="radio" chec>Male</label>
    <input type="radio" value="None" id="female" name="gender" />
    <label for="female" class="radio">Female</label>
   </div>
   <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
   <a href="#" class="button">Register</a>

  </form>
</div>

{% endblock %}