{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-12 col-sm-10 recuadro">
    <div class="row">
        <form method="get">
            <input type="text" name="q" placeholder="Ingrese un numero de cedula" value="{{ request.GET.q }}"/>
            <button type="submit" class="btn">Buscar</button>
        </form>
    </div>
<div class="row separador mt-2"></div>
    <div class="row separador_fila">
        <div class="col-lg-12">
            <table class="table table-hover table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Nro. de Documento de Identidad</th>
                        <th class="text-center">Nombres</th>
                        <th class="text-center">Apellidos</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcionario in funcionarios %}
                        <tr class='clickable-row'>
                            <td>{{ funcionario.cedula }}</td>
                            <td>{{ funcionario.nombres }}</td>
                            <td>{{ funcionario.apellidos }}</td>
                            <td class="text-center">
                                <button id="funcionario_btn" value="{{ funcionario.pk }}"
                                        class="btn btn-secondary btn-edit" type="button">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 </div>

<div class="row separador_fila">
        <div class="col-lg-12">
            <table id="tabla_movimientos" class="table table-hover table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Tipo de Movimiento</th>
                        <th class="text-center">Motivo</th>
                        <th class="text-center">Categoria Salarial</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

<footer>
    <script>
        $('#funcionario_btn').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: '{% url 'liquidacion:get_movimientos' %}',
                type : 'GET',
                dataType: 'json',
                data: {
                    idfuncionario: $("#funcionario_btn").val()
                },
                success: function (response) {
                    var tabla_movimientos = $('#tabla_movimientos');
                    $.each(response, function (key, value) {
                        tabla_movimientos.append('<tr>' + '<td>' + value.motivo + '</td>' + '<td>'
                            + value.tipo + '</td>' + '<td>' + value.categoria_salarial + '</td>'
                            +'<td>'
                            +'<button id="movimiento_btn" class="btn btn-secondary btn-edit" value="'+ value.idmovimiento +'">' +
                            +'<i class="fa fa-check-square-o" aria-hidden="true"></i>' +
                            +'</button>' + '</td>' + '</tr>'
                            )
                    });

                    $('#movimiento_btn').click(function (e) {

                        e.preventDefault();
                        var idpadre = $('#movimiento_btn').val();
                        console.log(idpadre);
                        var link = "{% url 'liquidacion:modificar_movimiento' 0 %}";
                        link = link.replace(0, idpadre);
                        console.log(link);
                        window.location.href=link;
                    });
                },
                error: function (data) {
                    console.log(data)
                }
            })
        });



    </script>
</footer>

{% endblock %}

