{% extends 'index.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb " Seleccion de Movimiento de Funcionario "  'liquidacion:index' %}
{% endblock %}

{% block content %}
{% render_breadcrumbs %}

<div class="col-12 col-sm-10 recuadro">

<div class="row">
    <div class="col-12">
        <div class="col-12 d-flex align-self-start">
            <h5>Seleccion de movimiento para Ascenso o Modificacion de funciones </h5>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <form method="get">
        <div class="row">
            <label for="funcionario" class="explicativo">Ingrese el numero de cedula de identidad del funcionario :</label>
            <div class="col-6">
                {{ form.funcionario }}
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-outline-dark" name="q" value="true"
                        formaction="{% url 'liquidacion:buscar_movimiento' %}">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>

{% if funcionarios %}
<div class="row separador mt-2"></div>
    <div class="row separador_fila">
        <div class="col-lg-12">
            <table class="table table-hover table-striped table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="columna-normal text-center">Nombres</th>
                        <th class="columna-normal text-center">Apellidos</th>
                        <th class="columna-normal text-center">Tipo de movimiento</th>
                        <th class="columna-normal text-center">Categoria Salarial</th>
                        <th class="columna-normal text-center">Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movimiento in funcionarios %}
                        <tr class='clickable-row'>
                            <td class="columna-negrita text-center">{{ movimiento.funcionario.nombres }}</td>
                            <td class="columna-negrita text-center">{{ movimiento.funcionario.apellidos }}</td>
                            <td class="columna-negrita text-center">{{ movimiento.motivo.nombre }}</td>
                            <td class="columna-negrita text-center">{{ movimiento.categoria_salarial.codigo }}</td>
                            <td class="text-center">
                                <button class="btn btn-outline-secondary" type="button"
                                   name="go" value="Ir" onclick="location.href=('{% url 'liquidacion:modificar_movimiento' movimiento.pk %}')">
                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 </div>
{% endif %}


<footer>
    <script>
        $(document).ready(function () {

        });

        $('#xx_btn').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: '{% url 'liquidacion:get_movimientos' %}',
                type : 'GET',
                dataType: 'json',
                data: {
                    idfuncionario: $("#funcionario_btn").val()
                },
                success: function (response) {
                    $('#tablamovimientos').show();
                    var tabla_movimientos = $('#tabla_movimientos');
                    $.each(response, function (key, value) {
                        var idpadre = value.idmovimiento;
                        var link = "{% url 'liquidacion:modificar_movimiento' 0 %}";
                        link = link.replace(0, idpadre);

                        tabla_movimientos.append('<tr>' + '<td>' + value.motivo + '</td>' + '<td>'
                            + value.tipo + '</td>' + '<td>' + value.categoria_salarial + '</td>'
                            +'<td>'
                            +'<button id="movimiento_btn" class="btn btn-secondary btn-edit" onclick="location.href='+"'" + link +"'" +'">'
                            +'<i class="fa fa-check-square-o"></i>' +
                            +'</button>' + '</td>' + '</tr>'
                            )
                    });
                },
                error: function (data) {
                    console.log(data)
                }
            })
        });

    </script>
</footer>

{% endblock %}

