{% extends "index.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load l10n %}

{% block navbar %}
    <li class="nav-item">
    <a id="" data-toggle="modal" data-target="#help_modal" class="nav-link text-center">
        <i class="fa fa-question-circle"></i> Ayuda</a>
    </li>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb " Consultar movimientos " 'liquidacion:buscar_movimientos_funcionario' %}
{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% block title %}
        <title>Reporte</title>
    {% endblock %}
{% endblock %}

{% block content %}
{% render_breadcrumbs %}

    <div class="col-12 col-sm-10 recuadro">
        <form method="get">
            <div class="row">
                <div class="col-12">
                    <div class="col-12 d-flex align-self-start">
                        {% if vista == 'buscar_movimientos_funcionario' %}
                            <h5>Consulta de Movimientos de Funcionario</h5>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr>

            {% if advertencia %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ advertencia }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombres"><strong>Nombres</strong></label>
                        <div class="input-group">
                            {{ form.nombres }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="apellidos"><strong>Apellidos</strong></label>
                        <div class="input-group">
                            {{ form.apellidos }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cedula"><strong>Documento de Identidad</strong></label>
                        <div class="input-group">
                            {{ form.cedula }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6 align-self-end pb-3">
                    {% if vista == 'buscar_movimientos_funcionario' %}
                        <button type="submit" class="btn btn-light opciones" name="q" value="true"
                                formaction="{% url 'liquidacion:buscar_movimientos_funcionario' %}">
                            Consultar
                        </button>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {% for message in messages %}
                        {% if message.error %}
                        <div class="alert alert-danger">{{ message }}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                        {% endif %}
                            <div class="alert alert-warning">{{ message }}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            </div>
                    {% endfor %}
                </div>
            </div>

            {% if form.errors %}
                <div class="row mt-0">
                    <div class="col-md-4">
                        <strong style="color:red">{{ form.cedula.errors.as_text }}</strong>
                    </div>

                    <div class="col-md-4">
                        <strong style="color:red">{{ form.nombres.errors.as_text }}</strong>
                    </div>

                    <div class="col-md-4">
                        <strong style="color:red">{{ form.apellidos.errors.as_text }}</strong>
                    </div>
                </div>
            {% endif %}

        </form>

        <div class="row mt-3 mb-3"></div>

        {% if sin_datos %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ sin_datos }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if movimientos %}
        <table id="tabla-movimientos" class="table">
            <thead class="thead-light">
                <th class="centrartexto">Cedula</th>
                <th>Funcionario</th>
                <th>Motivo</th>
                <th>Categoria Salarial</th>
                <th class="centrartexto">Acciones</th>
            </thead>
            <tbody>
            {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento.funcionario.cedula }}</td>
                    <td>{{ movimiento.funcionario.nombres }} {{ movimiento.funcionario.apellidos }}</td>
                    <td>{{ movimiento.motivo }}</td>
                    <td>{{ movimiento.categoria_salarial.codigo }}</td>
                    <td class="centrartexto">
                        <button class="btn btn-secondary btn-edit" type="button"
                                   name="go" value="Ir" onclick="location.href=('{% url 'liquidacion:movimiento_resumen' movimiento.pk %}')">
                                <i class="fa fa-eye" aria-hidden="true"></i></button>
                        <button class="btn btn-secondary btn-edit" type="button"
                                   name="go" value="Ir" onclick="location.href=('{% url 'liquidacion:editar_movimiento' movimiento.pk %}')">
                                <i class="fa fa-edit" aria-hidden="true"></i></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        {% endif %}

    </div>

<div id="help_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #b9bbbe">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="color: #007bff">Información de ayuda al usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>En esta pantalla usted deberá ingresar datos referentes al funcionario del cual desea
                    consultar los cargos activos actualmente.</p>
                <p>Para realizar la consulta presione el botón
                    <button class="btn btn-light" style="background-color: #3B598D;color: white;">Consultar</button></p>
                <p>Posteriormente se listará los cargos activos del funcionario especificado, para editar una opción
                    presione el botón <button class="btn btn-secondary btn-edit" type="button">
                                <i class="fa fa-edit" aria-hidden="true"></i></button></p>
                <p>Para ver un resumen del cargo presione
                    <button class="btn btn-secondary btn-edit" type="button">
                    <i class="fa fa-eye" aria-hidden="true"></i></button></p>
            </div>
            <div id="modal-body" class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}