<div class="modal-dialog">
    <div class="modal-content" id="opciones_reporte_modal" style="background-color: #b9bbbe">
      <div class="modal-header">
          <h4>Lista de Informes y Reportes</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group" style="background-color: #b9bbbe">
                        <li class="list-group-item" style="background-color: #b9bbbe">
                          <a class="btn btn-light opciones" href="{% url 'liquidacion:buscar_movimientos_funcionario' %}"
                             id="" style="width: 100%">Consulta de cargos activos</a>
                        </li>
                        <li class="list-group-item" style="background-color: #b9bbbe">
                          <a class="btn btn-light opciones" href="{% url 'liquidacion:liquidacion_filtro' %}"
                             id="" style="width: 100%">Imprimir liquidacion salarial</a>
                        </li>
                        <li class="list-group-item" style="background-color: #b9bbbe">
                          <a class="btn btn-light opciones" href="{% url 'liquidacion:historico_movimientos' %}"
                             id="" style="width: 100%">Informe histórico de cargos de funcionario</a>
                        </li>
                        <li class="list-group-item" style="background-color: #b9bbbe">
                          <a class="btn btn-light opciones" href="{% url 'liquidacion:gastosxtipomovimiento' %}"
                             id="" style="width: 100%">Reporte de monto gastado por tipo de cargo</a>
                        </li>
                        <li class="list-group-item" style="background-color: #b9bbbe">
                          <a class="btn btn-light opciones" href="{% url 'liquidacion:informe_vacaciones' %}"
                             id="" style="width: 100%">Resumen de vacaciones por funcionario</a>
                        </li>
                         <li class="list-group-item" style="background-color: #b9bbbe">
                          <a class="btn btn-light opciones" href="{% url 'liquidacion:nomina_funcionarios' %}"
                             id="" style="width: 100%">Nómina de funcionarios por departamento</a>
                        </li>
                        <li class="list-group-item" style="background-color: #b9bbbe">
                          <a class="btn btn-light opciones" href="{% url 'liquidacion:monto_objetodegasto' %}"
                             id="" style="width: 100%">Resumen de importe utilizado por Objeto de gasto</a>
                        </li>
                        <li class="list-group-item" style="background-color: #b9bbbe">
                          <a class="btn btn-light opciones" href="{% url 'liquidacion:informe_altasbajas' %}"
                             id="" style="width: 100%">Informe de Altas y Bajas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <div class="modal-footer">

            </div>
    </div>
</div>