{% extends "proceso/movimiento_form.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load humanize %}

{% block navbar %}
    <li class="nav-item">
    <a id="" data-toggle="modal" data-target="#help_modal" class="nav-link text-center">
        <i class="fa fa-question-circle"></i> Ayuda</a>
    </li>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Debitos y Creditos" 'liquidacion:nueva_constante' %}
{% endblock %}

{% block content %}
{% render_breadcrumbs %}

<div class="col-12 col-sm-10 recuadro">

<form method="post" id="constante_form">
        {% csrf_token %}

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href='{% url 'liquidacion:editar_movimiento' movimiento.pk %}'>Movimiento N° {{ movimiento.pk }}</a>
            </li>
            <li class="nav-item">
                {% if movimiento.motivo.nombre == 'Contrato' %}
                    <a class="nav-link" href="{% url 'liquidacion:nuevo_pago' movimiento.pk %}">
                        Pagos
                    </a>
                {% else %}
                    <a class="nav-link active" style="background-color: #b9bbbe" href="{% url 'liquidacion:nueva_constante' movimiento.pk %}">
                        Debitos y Creditos
                    </a>
                {% endif %}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Documento</a>
                <div class="dropdown-menu">
                    {% if documento %}
                        <a class="dropdown-item" onclick="return abrir_modal('{% url 'liquidacion:ver_documento' documento.movimiento.pk documento.pk %}')">Ver documento</a>
                    {% else %}
                        <button class="dropdown-item btn btn-link" onclick="return abrir_modal('{% url 'liquidacion:nuevo_documento' movimiento.pk %}')">Crear Nuevo</button>
                    {% endif %}
                </div>
            </li>
        </ul>

        <div class="row text-center">
            <div class="col-12 text-center">
                <h4>Alta de Funcionario</h4>
                <h5><strong>Debitos y Creditos de Salario</strong></h5>
            </div>
        </div>
        <br>
        <div class="row"> <!-- cabecera-->
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-inline">
                            {% if movimiento %}
                                <li class="list-inline-item">Funcionario: <strong>{{ movimiento.funcionario }}</strong></li>
                                <li class="list-inline-item">Categoria Salarial: <strong>{{ movimiento.categoria_salarial.codigo }}</strong></li>
                            {% else %}
                                <li class="list-inline-item">Funcionario: <strong>{{ funcionario }}</strong></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="list-inline">
                            {% if movimiento %}
                                <li class="list-inline-item">Cargo: <strong>{{ movimiento.categoria_salarial.cargo }}</strong></li>
                                <li class="list-inline-item">Departamento: <strong>{{ movimiento.division.departamento }}</strong></li>
                            {% else %}
                                <li class="list-inline-item">Funcionario: <strong>{{ funcionario }}</strong></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-2 d-flex justify-content-end align-items-center">
                        <div class="row separador"></div>
                        <button type="button" class="btn btn-secondary" name="finalizar"
                                onclick="location.href='{% url 'liquidacion:movimiento_resumen' movimiento.pk %}'">
                            Finalizar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    <!-- Fin cabecera -->
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="tipo">Tipo:</label>
                    <div class="input-group">
                        {{ form.tipo }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="monto">Monto:</label>
                    <div class="input-group">
                        {{ form.monto }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="monto"></label>
                    <div class="input-group">
                        <button type="submit" class="btn btn-success" name="guardar"
                        formaction="{% url 'liquidacion:nueva_constante' movimiento.pk %}">
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    </div>
                {% endfor %}
            </div>
        </div>
</form>
<hr>

<div class="row">
    <div class="col-lg-12">
        <table id="tabla_constantes" class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Descripcion</th>
                    <th class="text-center">Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for constante in constantes %}
                    <tr class='clickable-row'>
                        <td>{{ constante.tipo.nombre }}</td>
                        <td class="text-center">{{ constante.tipo.tipo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="help_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #b9bbbe">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="color: #007bff">Información de ayuda al usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>En ésta sección usted podrá agregar al nuevo cargo, los montos que se debitarán o acreditarán al
                    salario del funcionario indefinidamente durante el tiempo que dure activo en el cargo.
                    Aquí usted deberá seleccionar el concepto correspondiente a dicho monto seleccionando una
                    opción en el campo <strong>Tipo</strong>,
                    en caso de que el concepto sea calculado en base a un porcentaje del salario, éste se mostrará
                    entre las opciones a seleccionar, de lo contrario usted podrá especificar en el campo
                    <strong>Monto</strong> una cantidad fija en Guaraníes, la cual se aplicará indefinidamente al salario del funcionario
                    según el tipo del concepto que seleccione, que podrá ser tanto débito como crédito.
                </p>
                <p>Para finalizar el proceso presione el botón
                    <button type="button" class="btn btn-secondary" name="finalizar" onclick="">Finalizar</button>
                </p>
            </div>
            <div id="modal-body" class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>

</div>

<div id="popup" class="modal fade" role="dialog">

</div>

<script>
function abrir_modal(url)
{
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
}

$(document).ready(function () {
        $("#cantidad_veces").hide();
        $('#finito').on('change', function (e) {
            if($('#finito').is(":checked"))
                $("#cantidad_veces").show();
            else
                $("#cantidad_veces").hide();
        });
    });



$('#id_tipo').change(function () {
    var select = document.getElementById('id_tipo');
    var options = select.options;
    var selected = select.options[select.selectedIndex];
    if (selected.innerHTML.includes("%")) {
        console.log("YES", selected.innerHTML);
         $('#id_monto').prop('disabled',true);
    } else {
         $('#id_monto').prop('disabled',false);
    }
});


</script>

{% endblock %}