<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Agregar Detalle</h3>
        <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <div class="modal-body">
        <form role="form" action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row mt-2">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="variable">Descripcion:</label>
                                {% if detalleliquidacion %}
                                    <input type="text" id="variable" class="form-control"
                                           value="{{ detalleliquidacion.variable }}" disabled/>
                                    <input type="hidden" name="variable" value="{{ detalleliquidacion.variable.pk }}">
                                {% else %}
                                    {{ form.variable }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="parametro">Parametro:</label>
                                {% if detalleliquidacion %}
                                    <input type="text" id="parametro" class="form-control"
                                           value="{{ detalleliquidacion.parametro }}" disabled/>
                                    <input type="hidden" name="parametro" value="{{ detalleliquidacion.parametro.pk }}">
                                {% else %}
                                    {{ form.parametro }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="cantidad">Cantidad:</label>
                                {% if detalleliquidacion %}
                                    <input type="text" id="cantidad" class="form-control"
                                           value="{{ detalleliquidacion.cantidad }}" disabled/>
                                    <input type="hidden" name="cantidad" value="{{ detalleliquidacion.cantidad }}">
                                {% else %}
                                    {{ form.cantidad }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="monto">Monto:</label>
                                {% if detalleliquidacion %}
                                    <input type="text" id="monto" class="form-control"
                                           value="{{ detalleliquidacion.monto }}" disabled/>
                                    <input type="hidden" name="monto" value="{{ detalleliquidacion.monto }}">
                                {% else %}
                                    {{ form.monto }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="total">Total:</label>
                                {% if detalleliquidacion %}
                                    <input type="text" id="total" class="form-control"
                                           value="{{ detalleliquidacion.total }}" disabled/>
                                    <input type="hidden" name="total" value="{{ detalleliquidacion.total }}">
                                {% else %}
                                    {{ form.total }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 text-right">
                <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            </div>

        </form>
        </div>
    </div>
</div>