{% extends "liquidacionmensual/liqmensual_filtro.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load l10n %}

{% block breadcrumbs %}

{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% block title %}
        <title>Generar Liquidacion</title>
    {% endblock %}
{% endblock %}

{% block content %}
{% render_breadcrumbs %}
<title>{{ lista }}</title>
    <div class="col-12 col-sm-10 recuadro">
        <div class="row text-center">
            <div class="col-12 text-center">
                    <h4>Lista de Liquidaciones Salariales</h4>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-4 text-center">
                    <h6>Departamento: <strong>{{ dpto }}</strong></h6>
            </div>
            <div class="col-4 text-center">
                    <h6>Mes : <strong>{{ mes.nombre }}</strong></h6>
            </div>
            <div class="col-4 text-center">
                    <h6>Año : <strong>{{ mes.year|unlocalize }}</strong></h6>
            </div>
        </div>

        <hr>
        <div class="row">
            <table id="tabla" class="table">
                <thead class="thead-light">
                    <th class="centrartexto">Cedula</th>
                    <th class="centrartexto">Funcionario</th>
                    <th class="centrartexto">Mes</th>
                    <th class="centrartexto">Editar</th>
                </thead>
                <tbody>
                {% for item in lista %}
                    <tr class="table-dark text-dark">
                        <td class="centrartexto">{{ item.liquidacion.funcionario.cedula }}</td>
                        <td class="centrartexto">{{ item.liquidacion.funcionario }}</td>
                        <td class="centrartexto">{{ item.liquidacion.mes.nombre }}</td>
                        <td class="centrartexto">
                            <button title="Editar" class="btn btn-secondary" type="button"
                               name="go" value="Ir" onclick="location.href=('{% url 'liquidacion:editar_liquidacionhaber' item.pk %}')">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}