{% extends "index.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load l10n %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb " Consultar movimientos " 'liquidacion:buscar_movimientos_funcionario' %}
{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% block title %}
        <title>Generar Liquidacion</title>
    {% endblock %}
{% endblock %}

{% block content %}
{% render_breadcrumbs %}

    <div class="col-12 col-sm-10 recuadro">
        <form method="POST">
        {% csrf_token %}

            <div class="row">
                <div class="col-12">
                    <div class="col-12 d-flex align-self-start">
                        {% if vista == 'buscar_movimientos_funcionario' %}
                            <h5>Consulta de Movimientos</h5>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr>

            {% if advertencia %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ advertencia }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="desde">Desde:</label>
                        <div class="input-group">
                            {{ form.desde }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="hasta">Hasta:</label>
                        <div class="input-group">
                            {{ form.hasta }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="departamento">Departamento:</label>
                        <div class="input-group">
                            {{ form.departamento }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 align-self-end pb-3">
                    <button type="submit" class="btn btn-success" name="q" value="true"
                            formaction="{% url 'liquidacion:parametros_liq_mensual' %}">
                        Generar
                    </button>
                </div>
            </div>

            {% if form.errors %}
                <div class="row mt-0">
                    <div class="col-md-4">
                        <strong style="color:red">{{ form.cedula.errors.as_text }}</strong>
                    </div>

                    <div class="col-md-4">
                        <strong style="color:red">{{ form.nombres.errors.as_text }}</strong>
                    </div>

                    <div class="col-md-4">
                        <strong style="color:red">{{ form.apellidos.errors.as_text }}</strong>
                    </div>
                </div>
            {% endif %}

        </form>

        <div class="row mt-3 mb-3"></div>

        {% if sin_datos %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ sin_datos }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        </div>

<div id="success_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #b9bbbe">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body">
                <p class="modal-title w-100 font-weight-bold">Registros creados con exito !</p>
            </div>
            <div class="modal-footer">
                <button id="submitForm" class="btn btn-primary btn-block"
                        href ="{% url 'liquidacion:liq_pendientes_list' movimiento.pk %}">
                    Revisar
                </button>
            </div>
        </div>
    </div>
</div>


<footer>
    <script type="text/javascript">
        {% if lista %}
            $(document).ready(function () {
                $("#success_modal").modal('show');
            });
        {% endif %}
    </script>
    <script>
            $(document).ready(function (event) {
                var departamento_select = $('#departamento-select');
                $.ajax({
                    url: '{% url 'liquidacion:traer_departamentos' %}',
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        if ($.trim(data)) {
                            departamento_select.empty().append('<option value=' + 0 + ' selected >' + 'Todos' + '</option>');
                            $.each(data, function (key, value) {
                                departamento_select.append('<option value=' + value.id + '>' + value.value + '</option>')
                            });
                        } else {
                            departamento_select.empty().append('<option value=' + 0 + ' selected>' + 'Todos' + '</option>');
                        }
                    },
                    error: function (data) {
                        departamento_select.empty().append('<option value=' + 0 + ' selected disabled="true">' + 'No hay datos' + '</option>');
                    }
                })
            });
        </script>
        <script>
            $('#departamento-select').on('change', function (e) {
                var opcion_sel = $('#departamento-select').find('option:selected');
                var departamento_select = $('#departamento-select');
                $.ajax({
                    url: '{% url 'liquidacion:traer_funcionarios' %}',
                    dataType: 'json',
                    data: {
                        iddepartamento: opcion_sel.val()
                    },
                    success: function (data) {
                        console.log(data)
                    },
                    error: function (data) {
                    }
                })
            });
        </script>
</footer>

{% endblock %}