{% extends "base.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load humanize %}
{% load l10n %}
{% load table_tags %}

{% block extrastyles %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb " Liquidaciones Pendientes " 'liquidacion:index' %}
{% endblock %}

{% block content %}
{% render_breadcrumbs %}

<div class="col-12 col-sm-10 recuadro">

    {% if vista == 'confirmar_liquidaciones' %}
    <div class="row">
        <div class="col-12">
            <div class="col-12 d-flex align-self-start">
                <h5>Liquidaciones Salariales Confirmadas del presente periodo</h5>
            </div>
        </div>
    </div>
    {% render_table liquidacion_table %}

    {% else %}
    <div class="row">
        <div class="col-12">
            <div class="col-12 d-flex align-self-start">
                <h5>Liquidaciones Salariales Pendientes del presente periodo</h5>
            </div>
        </div>
    </div>
    <hr>
    {% if liquidacion_table %}
        <div class="row">
            <div class="col-md-3 col-sm-3 btn_sep">
                <button type="submit" form="liquidacion_form"
                        name="boton" value="Descartado"
                        onclick="location.href='{% url 'liquidacion:confirmar_liquidaciones' %}'"
                        class="btn" style="width: 100%">
                    Confirmar Todas
                </button>
            </div>
        </div>
        {% render_table liquidacion_table %}
    {% else %}
    <div class="row">
        <p>
            Liquidaciones Confirmadas con exito !
        </p>
    </div>
    {% endif %}
{% endif %}
</div>
{% endblock %}