<div id="form-modal-body" class="modal-body">
    <form id="og_form" class="form-horizontal" method="post" action="{% url 'liquidacion:objetodegasto-add' %}">
        {% csrf_token %}
        <div class="form-group">
            {% if form.numero.errors %}
                {% for error in form.numero.errors %}
                    <div class="errorlist">
                        <strong style="color: red">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <label for="numero">Numero:</label>
            <div class="input-group">
               {{ form.numero }}
            </div>
        </div>
        <div class="form-group">
            {% if form.concepto.errors %}
                {% for error in form.concepto.errors %}
                    <div class="errorlist">
                        <strong style="color: red">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        <label for="concepto">Concepto:</label>
        <div class="input-group">
            {{ form.concepto }}
        </div>
        </div>
        <div class="form-group">
            <div class="input-group">
            <button type="submit" id="submitForm" class="btn btn-primary btn-block">Guardar</button>
            </div>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        $('#og_form').on("submit", function(e) {
            e.preventDefault();
            $.ajax({
             type: $(this).attr('method'),
              url: $(this).attr('action'),
             data: $(this).serialize(),
             success: function (xhr, ajaxOptions, thrownError) {
                 if ( $(xhr).find('.errorlist').length > 0 ) {
                    $('#og_modal').find('.modal-body').html(xhr);
                } else {
                     $('#og_modal').find('.modal-body').html('Los datos se han creado correctamente!');
                }
            },
              error: function (xhr, ajaxOptions, thrownError) {
                 console.log('Entra al else');
                 // handle response errors here
            }
        });
    });

    $("#submitForm").on('click', function() {
		$("#og_form").submit();
	});
 });
</script>
