{% extends "proceso/movimiento_form.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load humanize %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Agregar Pagos" 'liquidacion:nuevo_pago' %}
{% endblock %}

{% block content %}
{% render_breadcrumbs %}

<div class="col-12 col-sm-10 recuadro">

<form method="post" id="pago_form">
        {% csrf_token %}
        <div class="row"> <!-- cabecera-->
            <div class="col-10 d-flex align-items-center">
                <span class="h4">Pagos del Contrato</span>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
                <div class="row separador"></div>
                <button type="button" class="btn btn-secondary" name="finalizar"
                        onclick="location.href='{% url 'liquidacion:movimiento_resumen' movimiento.pk %}'">
                    Finalizar
                </button>
            </div>
        </div>
    <!-- Fin cabecera -->
        <hr>
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="mes">Mes:</label>
                    <div class="input-group">
                        {{ form.mes }}
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="monto">Monto:</label>
                    <div class="input-group">
                        {{ form.monto }}
                    </div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
                <div class="row separador"></div>
                <button type="submit" class="btn btn-success" name="guardar"
                        formaction="{% url 'liquidacion:nuevo_pago' movimiento.pk %}">
                    Agregar
                </button>
            </div>
        </div>
</form>
<hr>

<div class="row">
        <div class="col-lg-12">
        <table id="tabla_pagos" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Mes</th>
                    <th class="text-center">Monto</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos %}
                    <tr class='clickable-row'>
                        <td class="text-center">{{ pago.mes }}</td>
                        <td class="text-center">Gs. {{ pago.monto|floatformat }}</td>
                        <td class="text-center">
                            <a href="#">
                              <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <button class="btn btn-outline-primary btn-edit" type="button"
                                onclick="">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>


</div>

<div id="popup" class="modal fade" role="dialog">

</div>


{% endblock %}